@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: rgb(255, 255, 186);
}

/* debut du header*/

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    grid-area: 1/1/2/7;
    background-color: #00C6F1;
    height: 100px;
    flex-wrap: wrap;
}
  
.logo {
    grid-area: 1/1/2/2;
    width: 100px;
    height: 100px;
}
  
.connexion {
    grid-area: 1/6/2/7;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.connexion a {
    background: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.inscription {
    grid-area: 1/5/2/6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
}
  
.inscription a {
    background: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.parent {
    position: relative;
}
  
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
  
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
  
.popup-content h2 {
    margin-top: 0;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #000;
}
  
.popup:target {
    visibility: visible;
    opacity: 1;
}
  
.popup:target .popup-content {
    transform: translate(-50%, -50%) scale(1);
}

textarea {
    resize: none;
}

p {
    text-transform: uppercase;
    color: #222;
    font-weight: 900;
    color: transparent;
    font-size: 0px;
}
p span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 8vw, 120px);
}
p span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
p:nth-child(1) {
    font-weight: 300;
    animation: txt-appearance 0s 1s forwards;
}
p:nth-child(2) {
    animation: txt-appearance 0s 1.25s forwards;
}
p:nth-child(1) span::after {
    background: #00C6F1;
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
p:nth-child(2) span::after {
    background: royalblue;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}
@keyframes txt-appearance {
    100% {
        color: #222;
    }
}

.client { grid-area: 1 / 6 / 2 / 7; 
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.deconnexion { grid-area: 1 / 5 / 2 / 6; 
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deconnexion a {
    background: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/* fin du header*/

/*barre nav*/

.parent5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.nav { grid-area: 1 / 1 / 2 / 7; 
    height: 50px;
    background-color: #11D6CA;
    display: flex;
    flex-wrap: wrap;
}
.hamburger { grid-area: 1 / 1 / 2 / 2;
    
}

/*menu burger css*/
* { 
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .html, body{
    overflow-x: hidden;
    height: 100%;
  }
  .c-header{
    width: 5%;
    height: 47px;
    background-color: #11D6CA;
    position: absolute;
  }
  .c-btn-icon {
    position: absolute;
    top: 115px;
    left: 20px;
    height: 22px;
    width: 22px;
    cursor: pointer;
  }
  .c-btn-bar {
    width: 100%;
    height: 3px;
    background-color: antiquewhite;
    position: absolute;
  }
  
  .c-btn-bar--horizontal{
    position: relative;
    float: left;
    margin-top: 3px;
    transition: all .3s;
  
  
  }
  
  .c-btn-bar--diagonal {
    position: relative;
    float: left;
    transition: all .3s;
  
  }
  
  .c-btn-bar--diagonal.diagonal-1 {
    transition: all .3s;
  
  }
  
  .c-btn-bar--diagonal.diagonal-2 {
    margin-top: 3px;
    transition: all .3s;
  
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--horizontal{
    opacity: 0;
    transition: all .3s;
  }
  
  input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-1{
    transform: rotate(135deg);
    margin-top: 8px; 
    transition: all .3s;
  }
  
  input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-2{
    transform: rotate(-135deg);
    margin-top: -8px;
    transition: all .3s;
  
  }
  
  .c-sidebar {
    position: absolute;
    width: 250px;
    height: 530px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background-color: aqua;
    margin-top: 50px;
    z-index: 1;
  }
  
  input[ type="checkbox"]:checked ~ .c-sidebar {
    transform: translateX(0);
  }
  
  .c-sidebar-items{
    border-top: 1px solid rgba(255, 255, 255, .10);
    margin: 0;
    padding: 0;
  
  }
  
  .c-sidebar-items li{
    cursor: pointer;
    list-style: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .10);
    font-family: 'Roboto', sans-serif;
  
  }
  
  .c-sidebar-items li span{
    display: block;
    font-size: 10px;
    color:  rgba(255, 255, 255, .5);
  }

/* fin menu burger*/
  

.recherche { grid-area: 1 / 2 / 2 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.acceuil { grid-area: 1 / 4 / 2 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.acceuil a {
    color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.nous-contacter { grid-area: 1 / 5 / 2 / 6; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nous-contacter a {
    color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.panier { grid-area: 1 / 6 / 2 / 7; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.panier a {
    color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
/*fin barre nav*/

/*debu du contenu photo*/

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.contenu { grid-area: 1 / 1 / 2 / 7; 
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
        
.pub { grid-area: 1 / 1 / 2 / 7; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
}

/* fin du contenu photo */

/*debut envoie simple et ar */

.parent6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.contenu2 { grid-area: 1 / 1 / 7 / 7; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    padding: 20px;  
}

.envoi { grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 10px;
    width: 200px;
}
.ajouter { grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 10px;
    width: 200px;
}

.nouveau { grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 10px;
    width: 100px;
}
.joindre { grid-area: 2 / 2 / 3 / 3; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 10px;
    width: 100px;
}

.formulaire { grid-area: 3 / 1 / 7 / 7; 
    margin-left: 50px;

    textarea {
        width: 70%;
        height: 150px;
        resize: none;
    }  
}

/*debut footer*/

.parent4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
            
.footer { grid-area: 1 / 1 / 2 / 7; 
    background-color: black;
    flex-wrap: wrap;
    z-index: 1;
    
}

.mentions { grid-area: 1 / 1 / 2 / 2; 
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    z-index: 1;
}

.menu { grid-area: 1 / 2 / 2 / 3;
    color: #FFFFFF;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    z-index: 1;
}

.menu a {
    color: #FFFFFF;
}

.contacts { grid-area: 1 / 3 / 2 / 4; 
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    z-index: 1;
}

.reseaux { grid-area: 1 / 4 / 2 / 5; 
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.paiement { grid-area: 1 / 5 / 2 / 6;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    
}

.logo2 { grid-area: 1 / 6 / 2 / 7; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/*fi du footer*/